/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    quants_testdata_base_path = "${projectDir}/tests/modules-testdata/"
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
}
