/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

params {
    modules_testdata_base_path = "${projectDir}/tests/modules-testdata/"
}
